In [1]:
# import Libraries

import pandas as pd;
import numpy as np;

In [2]:
# Read dataset
df=pd.read_csv("pension_dataset_20000.csv")
df

,pensioner_id,name,dob,gender,join_date,retirement_date,years_of_service,monthly_pension,pension_type,lump_sum,...,last_contribution,spouse_count,beneficiary_name,payment_method,bank_account_mask,inflation_index,active_flag,created_at,age_at_retirement,pension_status
0,P000001,Michael Martin,1973-12-22,M,1997-04-16,2030-07-10,33,735.61,Defined Benefit,0.00,...,2029-08-14,1,J***,Bank Transfer,****7396,1.0151,1,2023-11-11T17:10:25.588933,56,Active
1,P000002,Thomas Martinez,1936-11-29,F,1968-05-29,2005-09-29,37,1756.99,Defined Benefit,0.00,...,2004-03-16,0,NaN,Bank Transfer,****8513,1.0197,0,2024-05-12T17:10:25.589190,68,Retired
2,P000003,Mary Martin,1944-11-18,M,1974-04-03,2005-12-07,31,1042.74,Defined Contribution,0.00,...,2005-05-16,0,NaN,Bank Transfer,****5297,1.0159,0,2023-03-08T17:10:25.589500,61,Retired
3,P000004,Susan Thomas,1948-05-21,M,1974-05-09,2018-04-06,43,1844.33,Defined Benefit,0.00,...,2018-02-13,0,J***,Bank Transfer,****6258,1.0209,0,2021-09-27T17:10:25.589788,69,Retired
4,P000005,Thomas Davis,1964-11-20,F,1987-03-19,2024-12-15,37,2172.51,Defined Benefit,60830.28,...,2024-11-18,1,J***,Bank Transfer,****9110,1.0298,0,2021-11-03T17:10:25.590267,60,Retired
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,P019996,Charles Anderson,1940-05-12,M,1964-01-20,2005-11-29,41,1074.37,Defined Benefit,0.00,...,2004-12-31,1,NaN,Bank Transfer,****1929,1.0098,0,2021-10-19T17:10:32.138021,65,Retired
19996,P019997,Joseph Gonzalez,1959-04-17,F,1978-09-22,2023-07-24,44,2175.03,Defined Contribution,0.00,...,2022-09-08,0,K***,Cheque,****2907,1.0291,0,2021-07-20T17:10:32.138335,64,Retired
19997,P019998,Charles Taylor,1965-07-09,F,1988-05-30,2031-05-22,43,1866.59,Defined Benefit,0.00,...,2030-01-07,0,K***,Cheque,****2945,1.0239,1,2023-05-14T17:10:32.138596,65,Active
19998,P019999,David Garcia,1950-04-20,F,1969-06-29,2019-01-15,49,2344.82,Defined Benefit,0.00,...,2018-04-10,0,NaN,Bank Transfer,****8507,1.0113,0,2022-01-06T17:10:32.138816,68,Retired
19999,P020000,Joseph Brown,1936-07-15,M,1956-09-15,1992-06-28,35,2063.66,Defined Contribution,30954.90,...,1991-10-11,0,P***,Bank Transfer,****8059,0.9878,0,2021-12-20T17:10:32.139125,55,Retired

In [3]:
df.head()

,pensioner_id,name,dob,gender,join_date,retirement_date,years_of_service,monthly_pension,pension_type,lump_sum,...,last_contribution,spouse_count,beneficiary_name,payment_method,bank_account_mask,inflation_index,active_flag,created_at,age_at_retirement,pension_status
0,P000001,Michael Martin,1973-12-22,M,1997-04-16,2030-07-10,33,735.61,Defined Benefit,0.00,...,2029-08-14,1,J***,Bank Transfer,****7396,1.0151,1,2023-11-11T17:10:25.588933,56,Active
1,P000002,Thomas Martinez,1936-11-29,F,1968-05-29,2005-09-29,37,1756.99,Defined Benefit,0.00,...,2004-03-16,0,NaN,Bank Transfer,****8513,1.0197,0,2024-05-12T17:10:25.589190,68,Retired
2,P000003,Mary Martin,1944-11-18,M,1974-04-03,2005-12-07,31,1042.74,Defined Contribution,0.00,...,2005-05-16,0,NaN,Bank Transfer,****5297,1.0159,0,2023-03-08T17:10:25.589500,61,Retired
3,P000004,Susan Thomas,1948-05-21,M,1974-05-09,2018-04-06,43,1844.33,Defined Benefit,0.00,...,2018-02-13,0,J***,Bank Transfer,****6258,1.0209,0,2021-09-27T17:10:25.589788,69,Retired
4,P000005,Thomas Davis,1964-11-20,F,1987-03-19,2024-12-15,37,2172.51,Defined Benefit,60830.28,...,2024-11-18,1,J***,Bank Transfer,****9110,1.0298,0,2021-11-03T17:10:25.590267,60,Retired

In [4]:
df.describe()

,years_of_service,monthly_pension,lump_sum,spouse_count,inflation_index,active_flag,age_at_retirement
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000
mean,35.995600,1749.776785,7181.930295,0.54840,1.019880,0.305700,61.977650
std,6.771859,449.809973,16356.581344,0.58726,0.010056,0.460715,4.631136
min,19.000000,215.230000,0.000000,0.00000,0.981500,0.000000,54.000000
25%,31.000000,1441.970000,0.000000,0.00000,1.013000,0.000000,58.000000
50%,36.000000,1748.005000,0.000000,0.00000,1.019700,0.000000,62.000000
75%,41.000000,2056.937500,0.000000,1.00000,1.026700,1.000000,66.000000
max,53.000000,3443.230000,103116.560000,2.00000,1.066900,1.000000,70.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pensioner_id       20000 non-null  object
 1   name               20000 non-null  object
 2   dob                20000 non-null  object
 3   gender             20000 non-null  object
 4   join_date          20000 non-null  object
 5   retirement_date    20000 non-null  object
 6   years_of_service   20000 non-null  int64
 7   monthly_pension    20000 non-null  float64
 8   pension_type       20000 non-null  object
 9   lump_sum           20000 non-null  float64
 10  region             20000 non-null  object
 11  last_contribution  20000 non-null  object
 12  spouse_count       20000 non-null  int64
 13  beneficiary_name   11986 non-null  object
 14  payment_method     20000 non-null  object
 15  bank_account_mask  20000 non-null  object
 16  inflation_index    20000 non-null  float64
 17  active_flag        20000 non-null  int64
 18  created_at         20000 non-null  object
 19  age_at_retirement  20000 non-null  int64
 20  pension_status     20000 non-null  object
dtypes: float64(3), int64(4), object(14)
memory usage: 3.2+ MB

In [6]:
df.shape

(20000, 21)

In [7]:
print(df.isnull().sum())

pensioner_id            0
name                    0
dob                     0
gender                  0
join_date               0
retirement_date         0
years_of_service        0
monthly_pension         0
pension_type            0
lump_sum                0
region                  0
last_contribution       0
spouse_count            0
beneficiary_name     8014
payment_method          0
bank_account_mask       0
inflation_index         0
active_flag             0
created_at              0
age_at_retirement       0
pension_status          0
dtype: int64

In [8]:
print(df.duplicated().sum())

0

In [9]:
df['beneficiary_name'].dtype

dtype('O')

In [10]:
# Missing benificiary, percentage
total_rows = len(df)
missing_count = df['beneficiary_name'].isna().sum()
missing_pct = (missing_count / total_rows) * 100

print(f"Total Rows: {total_rows}")
print(f"Missing beneficiary_name: {missing_count}")
print(f"Missing Percentage: {missing_pct:.2f}%")

Total Rows: 20000
Missing beneficiary_name: 8014
Missing Percentage: 40.07%

In [11]:
df['beneficiary_name_missing'] = df['beneficiary_name'].isna().astype(int) # Create missing indicator column

In [12]:
# Clean & standardize text
for col in df.select_dtypes(include="object"):
    df[col] = df[col].str.strip()          # remove spaces
    df[col] = df[col].str.replace("  +", " ", regex=True)

In [13]:
# Adding Beneficiary Not Registered if Benificiary name null
df['beneficiary_name']=df['beneficiary_name'].fillna('Beneficiary Not Registered')

In [14]:
df.head()

,pensioner_id,name,dob,gender,join_date,retirement_date,years_of_service,monthly_pension,pension_type,lump_sum,...,spouse_count,beneficiary_name,payment_method,bank_account_mask,inflation_index,active_flag,created_at,age_at_retirement,pension_status,beneficiary_name_missing
0,P000001,Michael Martin,1973-12-22,M,1997-04-16,2030-07-10,33,735.61,Defined Benefit,0.00,...,1,J***,Bank Transfer,****7396,1.0151,1,2023-11-11T17:10:25.588933,56,Active,0
1,P000002,Thomas Martinez,1936-11-29,F,1968-05-29,2005-09-29,37,1756.99,Defined Benefit,0.00,...,0,Beneficiary Not Registered,Bank Transfer,****8513,1.0197,0,2024-05-12T17:10:25.589190,68,Retired,1
2,P000003,Mary Martin,1944-11-18,M,1974-04-03,2005-12-07,31,1042.74,Defined Contribution,0.00,...,0,Beneficiary Not Registered,Bank Transfer,****5297,1.0159,0,2023-03-08T17:10:25.589500,61,Retired,1
3,P000004,Susan Thomas,1948-05-21,M,1974-05-09,2018-04-06,43,1844.33,Defined Benefit,0.00,...,0,J***,Bank Transfer,****6258,1.0209,0,2021-09-27T17:10:25.589788,69,Retired,0
4,P000005,Thomas Davis,1964-11-20,F,1987-03-19,2024-12-15,37,2172.51,Defined Benefit,60830.28,...,1,J***,Bank Transfer,****9110,1.0298,0,2021-11-03T17:10:25.590267,60,Retired,0

In [15]:
df['dob'] = pd.to_datetime(df['dob'], errors='coerce')
df['retirement_date'] = pd.to_datetime(df['retirement_date'], errors='coerce')
df['join_date'] = pd.to_datetime(df['join_date'], errors='coerce')

In [16]:
# calculating age at Retirement

df['age_at_retirement'] = ((df['retirement_date'] - df['dob']).dt.days // 365)
df.head()

,pensioner_id,name,dob,gender,join_date,retirement_date,years_of_service,monthly_pension,pension_type,lump_sum,...,spouse_count,beneficiary_name,payment_method,bank_account_mask,inflation_index,active_flag,created_at,age_at_retirement,pension_status,beneficiary_name_missing
0,P000001,Michael Martin,1973-12-22,M,1997-04-16,2030-07-10,33,735.61,Defined Benefit,0.00,...,1,J***,Bank Transfer,****7396,1.0151,1,2023-11-11T17:10:25.588933,56,Active,0
1,P000002,Thomas Martinez,1936-11-29,F,1968-05-29,2005-09-29,37,1756.99,Defined Benefit,0.00,...,0,Beneficiary Not Registered,Bank Transfer,****8513,1.0197,0,2024-05-12T17:10:25.589190,68,Retired,1
2,P000003,Mary Martin,1944-11-18,M,1974-04-03,2005-12-07,31,1042.74,Defined Contribution,0.00,...,0,Beneficiary Not Registered,Bank Transfer,****5297,1.0159,0,2023-03-08T17:10:25.589500,61,Retired,1
3,P000004,Susan Thomas,1948-05-21,M,1974-05-09,2018-04-06,43,1844.33,Defined Benefit,0.00,...,0,J***,Bank Transfer,****6258,1.0209,0,2021-09-27T17:10:25.589788,69,Retired,0
4,P000005,Thomas Davis,1964-11-20,F,1987-03-19,2024-12-15,37,2172.51,Defined Benefit,60830.28,...,1,J***,Bank Transfer,****9110,1.0298,0,2021-11-03T17:10:25.590267,60,Retired,0

In [17]:
#Remove invalid ages
df.loc[df['age_at_retirement'] < 0, 'age_at_retirement'] = None

In [18]:
df['pension_status'] = 'Not Retired'
df.loc[df['retirement_date'].notna(), 'pension_status'] = 'Pending'
df.loc[df['join_date'].notna(), 'pension_status'] = 'Active'

In [19]:
df['data_issue_flag'] = 0
df.loc[df['join_date'] < df['retirement_date'], 'data_issue_flag'] = 1

In [20]:
print(df[['age_at_retirement', 'pension_status', 'data_issue_flag']].head())

   age_at_retirement pension_status  data_issue_flag
0               56.0         Active                1
1               68.0         Active                1
2               61.0         Active                1
3               69.0         Active                1
4               60.0         Active                1

In [21]:
df.head()

,pensioner_id,name,dob,gender,join_date,retirement_date,years_of_service,monthly_pension,pension_type,lump_sum,...,beneficiary_name,payment_method,bank_account_mask,inflation_index,active_flag,created_at,age_at_retirement,pension_status,beneficiary_name_missing,data_issue_flag
0,P000001,Michael Martin,1973-12-22,M,1997-04-16,2030-07-10,33,735.61,Defined Benefit,0.00,...,J***,Bank Transfer,****7396,1.0151,1,2023-11-11T17:10:25.588933,56.0,Active,0,1
1,P000002,Thomas Martinez,1936-11-29,F,1968-05-29,2005-09-29,37,1756.99,Defined Benefit,0.00,...,Beneficiary Not Registered,Bank Transfer,****8513,1.0197,0,2024-05-12T17:10:25.589190,68.0,Active,1,1
2,P000003,Mary Martin,1944-11-18,M,1974-04-03,2005-12-07,31,1042.74,Defined Contribution,0.00,...,Beneficiary Not Registered,Bank Transfer,****5297,1.0159,0,2023-03-08T17:10:25.589500,61.0,Active,1,1
3,P000004,Susan Thomas,1948-05-21,M,1974-05-09,2018-04-06,43,1844.33,Defined Benefit,0.00,...,J***,Bank Transfer,****6258,1.0209,0,2021-09-27T17:10:25.589788,69.0,Active,0,1
4,P000005,Thomas Davis,1964-11-20,F,1987-03-19,2024-12-15,37,2172.51,Defined Benefit,60830.28,...,J***,Bank Transfer,****9110,1.0298,0,2021-11-03T17:10:25.590267,60.0,Active,0,1

In [22]:
df.to_csv('clean_pension_data.csv', index=False)

In [23]:
import os
print(os.getcwd())

C:\Users\goddu

In [ ]:
#Follwing code are to transfer cleaned file to SQL
from sqlalchemy import create_engine
import pandas as pd
import mysql.connector

# MySQL credentials
username = os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
host = 'localhost'       
port = '3306'            # default MySQL port
database = 'pensions'

# Creating the SQLAlchemy engine
engine = create_engine('mysql+mysqlconnector://{username}:{password}@localhost:3306/pensions')

# Read CSV file
df = pd.read_csv('/clean_pension_data.csv')

# To Import the data into MySQL table 'pensions'
df.to_sql('pensions', con=engine, if_exists='replace', index=False)

print("Data imported successfully!")